{% extends 'base.html' %}

{% block head_title %} iTweet {% endblock %}

{% block content %}

<div class="row text-center">
    <h1 class="col">Welcome to iTweet</h1>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" action="/create-tweet" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="/">
            <div class="form-group">
                <textarea class="form-control" name="content" placeholder="Your tweet..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">Loading...</div>
{% endblock %}