{% extends 'base.html' %}

{% block head_title %} iTweet {% endblock %}

{% block content %}
<h1 class="text-center">Welcome to iTweet</h1>

<div id="tweets">Loading...</div>

<script>
    const tweetElement = document.getElementById('tweets')
    
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        var finalTweetStr = ''
        var i
        for (i = 0; i < array.length; i++) {
            const element = array[i];
            
        }
        console.log(listedItems);
        
    }
    xhr.send()
</script>
{% endblock %}