<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>
    <script>

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    

    function handleTweetFormError(msg, display) {
        var myErrorDiv = document.getElementById('tweet-create-form-error')
        if (display === true) {
            // show error
            myErrorDiv.setAttribute('class', 'alert alert-danger d-block')
            myErrorDiv.innerText = msg
        } else {
            // hide error
            myErrorDiv.setAttribute('class', 'alert alert-danger d-none')
        }
    }

    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute('action')
        const method = myForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.onload = function() {
            if (xhr.status === 201) {
                const newTweetJson = xhr.response
                const newTweetElement = formatTweetElement(newTweetJson)
                const ogHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrorMgs;
                if (contentError) {
                    contentErrorMgs = contentError[0]
                    if (contentErrorMgs) {
                        handleTweetFormError(contentErrorMgs, true)
                    } else {
                        alertMsg()
                    }
                } else {
                    alertMsg()
                }
                console.log(errorJson);
            } else if (xhr.status === 401) {
                alertLogin()
                window.location.href = '/login'
            } else if (xhr.status === 403) {
                alertLogin()
                window.location.href = '/login'
            } else if (xhr.status === 500) {
                alertMsg()
            }
        }
        xhr.onerror = function() {
            alertMsg()
        }
        xhr.send(myFormData)
    }

    const tweetCreateFormEl = document.getElementById('tweet-create-form')

    tweetCreateFormEl.addEventListener('submit', handleTweetCreateFormDidSubmit)

    const tweetsContainerElement = document.getElementById('tweets')

    function loadTweets(tweetElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const serverResponse = xhr.response
            var listedItems = serverResponse
            var finalTweetStr = ''
            var i;
            for (i = 0; i < listedItems.length; i++) { 
                var tweetObj=listedItems[i] 
                var currentItems=formatTweetElement(tweetObj) 
                finalTweetStr +=currentItems 
            }
            tweetElement.innerHTML=finalTweetStr 
        } 
        xhr.send()
    }

    loadTweets(tweetsContainerElement)

    function handleTweetActionBtn(tweet_id, currentCount, action) {
        console.log(tweet_id, currentCount);
        const url = 'api/tweets/action'
        const method = 'POST'
        const data = JSON.stringify({
            id: tweet_id,
            action: action
        })
        const xhr = new XMLHttpRequest()
        const csrftoken = getCookie('csrftoken');
        xhr.open(method, url)
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.setRequestHeader('X-CSRFToken', csrftoken)
        xhr.onload = function() {
            loadTweets(tweetsContainerElement)
        }
        xhr.send(data)
    }
    

    function likeBtn(tweet) {
        return "<button class='btn btn-primary btn-sm' onclick=handleTweetActionBtn(" 
        + tweet.id + "," + tweet.likes + ",'like')>" + tweet.likes + " Like</button>"
    }
    

    function UnLikeBtn(tweet) {
        return "<button class='btn btn-outline-primary btn-sm' onclick=handleTweetActionBtn("
        + tweet.id + "," + tweet.likes + ",'unlike')> Unlike</button>"
    }

    function RetweetBtn(tweet) {
        return "<button class='btn btn-outline-success btn-sm' onclick=handleTweetActionBtn(" 
        + tweet.id + "," + tweet.likes + ",'retweet')> Retweet</button>"
    }

    function formatTweetElement(tweet) {
        var formattedTweet = '<div class="col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet" id="tweet-' + tweet.id 
        + '"><p>' + tweet.content +
        '</p><div class="btn-group">' + 
            likeBtn(tweet) +
            UnLikeBtn(tweet) +
            RetweetBtn(tweet) +
         '</div></div>'
        return formattedTweet
    }




// ======================Error MSG===============

    function alertMsg() {
        alert('An error occurred. Please try again later. ')        
    }

    function alertLogin() {
        alert('You must login!')
    }

    
    </script>
</body>

</html>